$themes: (
    maintheme: (
        name: "main",
        main: (
            text: #EBE0CC,
            primary: #21222C,
            secondary: #282A36,
            dark: #17181e,
            green: #78F86D,
            purple: #F455E4
        ),
    ),
);
