<!DOCTYPE html>
<h2 class="home__title" hidden>Home</h2>
<div class="home__presentation">
    <ul class="home__carousel carousel">
        <li class="carousel__item">
            <svg class="carousel__icon">
                <use width="300" xlink:href="#iconPresentation1"></use>
            </svg>
            <span class="carousel__text">Meet thousands of <strong class="color__purple">{ developers }</strong> all around the globe !</span>
        </li>
    </ul>
</div>

<!-- Logo et accueil de connexion -->
<ul class="home__login">
    <li class="home__login-item">
        <h1 class="home__title" data-i18n="title">>makeout<strong class="color__green">.dev</strong></h1>
        <span class="home__subtitle" data-i18n="subTitle">Lover's repository</span>
    </li>
    <li class="home__login-item">
        <input class="home__sign" type="button" value="Sign up" data-i18n="signUp" data-layout="1" data-partial="sign">
    </li>
    <li class="home__login-item">
        <input class="home__log" type="button" value="Log in" data-i18n="logIn" data-layout="1" data-partial="login">
    </li>
</ul>