<div class="match__lovers">

</div>

<ul class="match__actions">
    <li class="match__action" data-action="reject">
        <svg class="match__action-icon">
            <use width="80" height="80" xlink:href="#iconClose"></use>
        </svg>
    </li>

    <li class="match__action" data-action="terminal">
        <svg class="match__action-icon">
            <use width="80" height="80" xlink:href="#iconTerminal"></use>
        </svg>
    </li>
    
    <li class="match__action" data-action="bug">
        <svg class="match__action-icon">
            <use width="80" height="80" xlink:href="#iconBug"></use>
        </svg>
    </li>
    
    <li class="match__action" data-action="accept">
        <svg class="match__action-icon">
            <use width="80" height="80" xlink:href="#iconValid"></use>
        </svg>
    </li>
</ul>

<div class="match__terminal">
    <span class="match__terminal-text"></span>
    <input type="text" class="match__terminal-input">
</div>