<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<div class="match__lover">
    <img class="match__lover-img" src="./assets/alex.png" alt="Picture of an awesome person">
</div>

<ul class="match__actions">
    <li class="match__action">
        <svg class="match__action-icon">
            <use width="80" height="80" xlink:href="#iconClose"></use>
        </svg>
    </li>

    <li class="match__action">
        <svg class="match__action-icon">
            <use width="80" height="80" xlink:href="#iconTerminal"></use>
        </svg>
    </li>
    
    <li class="match__action">
        <svg class="match__action-icon">
            <use width="80" height="80" xlink:href="#iconBug"></use>
        </svg>
    </li>
    
    <li class="match__action">
        <svg class="match__action-icon">
            <use width="80" height="80" xlink:href="#iconValid"></use>
        </svg>
    </li>
</ul>

</body>
</html>