:root {
  --font-ff-ubuntu: 'Ubuntu', sans-serif;
  --font-w-light: 300;
  --font-w-regular: 400;
  --font-w-bold: 700;
  --fs-500: 1.375rem;
  --fs-600: 2rem;
  --fs-800: 2.9375rem;
  scroll-behavior: smooth;
}
@media (min-width: 100em) {
  :root {
    --fs-500: 1.875rem;
    --fs-600: 2.3125rem;
    --fs-800: 3.625rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

[hidden] {
  display: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  display: grid;
  place-content: center;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

input[type=button] {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: var(--clr-main-primary);
  color: var(--clr-main-text);
  border-radius: 0.5rem;
  border: none;
  font-size: 1.25rem;
  min-width: 10rem;
  cursor: pointer;
}

body {
  font-family: var(--font-ff-ubuntu);
}

h1,
h2 {
  font-weight: var(--font-w-bold);
  color: var(--clr-main-purple);
}

.theme__main {
  --clr-name-main: ;
  --clr-main-text: #EBE0CC;
  --clr-main-primary: #21222C;
  --clr-main-secondary: #282A36;
  --clr-main-green: #78F86D;
  --clr-main-purple: #F455E4;
}

.color__green {
  color: var(--clr-main-green);
}
.color__purple {
  color: var(--clr-main-purple);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.carousel__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.carousel__text {
  width: 80%;
  text-align: center;
}

.main {
  position: relative;
  max-width: 30rem;
  height: 100vh;
  max-height: 55rem;
  outline: solid grey 1px;
  background-color: var(--clr-main-primary);
  color: var(--clr-main-text);
  overflow: hidden;
}
.main__head {
  position: absolute;
  top: 0;
  height: 3rem;
  width: 100%;
  background-color: var(--clr-main-secondary);
  z-index: 1;
}
.main__core {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
  transition: transform 400ms ease;
}
.main__section {
  padding-top: 3rem;
  height: 100%;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: auto;
}

body {
  background-color: var(--clr-main-secondary);
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.home__title {
  font-weight: var(--font-w-regular);
  color: var(--clr-main-text);
  font-size: 2.75rem;
}
.home__subtitle {
  display: block;
  font-size: 1.75rem;
  width: 100%;
  margin-top: -0.75rem;
  text-align: center;
}
.home__presentation {
  height: 60%;
  display: grid;
  place-content: center;
}
.home__login {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--clr-main-secondary);
  width: 100%;
  height: 40%;
}

.profile {
  height: 300vh;
}/*# sourceMappingURL=main.css.map */