@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
:root {
  --font-ff-ubuntu: 'Ubuntu', sans-serif;
  --font-w-light: 300;
  --font-w-regular: 400;
  --font-w-bold: 700;
  --fs-500: 1.375rem;
  --fs-600: 2rem;
  --fs-800: 2.9375rem;
  scroll-behavior: smooth;
}
@media (min-width: 100em) {
  :root {
    --fs-500: 1.875rem;
    --fs-600: 2.3125rem;
    --fs-800: 3.625rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

[hidden] {
  display: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  user-select: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  position: relative;
  display: grid;
  overflow: none;
  place-content: center;
}

img {
  user-select: none;
}

strong {
  font-weight: var(--font-weight-regular);
}

use {
  pointer-events: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

input[type=text],
input[type=password],
input[type=number],
input[type=date] {
  background-color: var(--clr-main-secondary);
  border: 0;
  font-size: 1.5rem;
  height: 2.5rem;
  border-bottom: solid 1px var(--clr-main-text);
  transition: border-bottom 300ms, margin-bottom 300ms;
  color: var(--clr-main-text);
  color-scheme: dark;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=date]:focus {
  border-bottom: solid 3px var(--clr-main-text);
  margin-bottom: -2px;
  outline: 0;
}

input[type=button] {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: var(--clr-main-primary);
  color: var(--clr-main-text);
  border-radius: 0.5rem;
  border: none;
  font-size: 1.25rem;
  min-width: 10rem;
  cursor: pointer;
  transition: transform 300ms;
}
input[type=button]:hover {
  transform: scale(0.95);
}

input[type=file] {
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10;
  position: relative;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clr-main-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-main-secondary);
}

body {
  font-family: var(--font-ff-ubuntu);
}

h1,
h2 {
  color: var(--clr-main-purple);
  font-weight: var(--font-weight-regular);
}

@keyframes swipe {
  0% {
    transform: translateY(10rem);
  }
  5%, 95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10rem);
  }
}
.theme__main {
  --clr-name-main: ;
  --clr-main-text: #EBE0CC;
  --clr-main-primary: #21222C;
  --clr-main-secondary: #282A36;
  --clr-main-dark: #17181e;
  --clr-main-green: #78F86D;
  --clr-main-purple: #F455E4;
}

.title {
  text-align: center;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

#templates {
  display: none;
}

.color__green {
  color: var(--clr-main-green);
}
.color__purple {
  color: var(--clr-main-purple);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.carousel__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.carousel__text {
  width: 75%;
  text-align: center;
}

.notification {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 4rem;
  width: fit-content;
  padding: 0.5rem;
  color: var(--clr-main-white);
  background-color: var(--clr-main-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  animation: swipe forwards 4s;
}

.main {
  position: relative;
  max-width: 28rem;
  width: 100vw;
  height: 100vh;
  max-height: 60rem;
  background-color: var(--clr-main-primary);
  color: var(--clr-main-text);
  overflow: hidden;
}
.main__head {
  position: relative;
  height: 3rem;
  width: 100%;
  background-color: var(--clr-main-secondary);
  z-index: 10;
}
.main__head-icon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.main__head-title {
  line-height: 2rem;
}
.main__head-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 3rem;
  padding: 0 1rem 0 1rem;
}
.main__head-action {
  height: 2rem;
  min-width: 2rem;
  color: var(--clr-main-text);
}
.main__core {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  height: calc(100% - 3rem);
  transition: transform 400ms ease;
}
.main__section {
  padding-top: 3rem;
  height: 100%;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: auto;
}

body {
  background-color: var(--clr-main-dark);
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.home__title {
  font-weight: var(--font-w-regular);
  color: var(--clr-main-text);
  font-size: 2.75rem;
}
.home__subtitle {
  display: block;
  font-size: 1.75rem;
  width: 100%;
  margin-top: -0.75rem;
  text-align: center;
}
.home__presentation {
  height: 60%;
  display: grid;
  place-content: center;
}
.home__login {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--clr-main-secondary);
  width: 100%;
  height: 40%;
}

.login, .sign {
  display: grid;
  place-content: center;
}
.login__form, .sign__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.login input[type=button], .sign input[type=button] {
  background-color: var(--clr-main-secondary);
}
.login__section, .sign__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.login__section input, .sign__section input {
  width: 100%;
}

.match {
  padding-top: 0;
}
.match__lover {
  width: 100%;
  height: 95%;
  position: absolute;
  top: 0;
  margin: auto;
  isolation: isolate;
  padding: 0 1.5rem 1rem 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--clr-main-primary);
  transition: transform 300ms;
}
.match__lover-name {
  font-size: 2.5rem;
  font-weight: var(--font-w-bold);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}
.match__lover-name::before {
  content: ">";
}
.match__lover-language {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  background-color: var(--clr-main-text);
  border-radius: 5rem;
  padding: 0.25rem;
}
.match__lover-age {
  font-size: 4.5rem;
  font-weight: var(--font-w-bold);
  margin-top: -1.5rem;
}
.match__lover-img {
  position: absolute;
  inset: 0;
  border: solid var(--clr-main-secondary) 10px;
  border-top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: top;
  border-radius: 0 0 4rem 4rem;
}
.match__lover-left {
  transform: translate(-34rem, 3rem) rotate(-20deg);
  z-index: 50;
}
.match__lover-right {
  transform: translate(34rem, 3rem) rotate(20deg);
  z-index: 50;
}
.match__lovers {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
.match__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  height: 20%;
  width: 100%;
}
.match__action {
  width: 5rem;
  height: 5rem;
  background-color: var(--clr-main-secondary);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 300ms;
}
.match__action:hover {
  transform: scale(0.95);
}
.match__action-icon {
  pointer-events: none;
  width: 5rem;
  height: 5rem;
}

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}
.profile__form {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.profile__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.profile__selfies {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.profile__selfie {
  position: relative;
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
  background-color: var(--clr-main-secondary);
}
.profile__obj {
  position: absolute;
  object-fit: cover;
  inset: 0;
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
}
.profile__obj[data="data:"], .profile__obj[data=""] {
  background: url("../assets/upload.svg");
  background-size: cover;
  background-position: center;
}
.profile__types {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.profile__type {
  width: 6rem;
  height: 6rem;
  background-color: var(--clr-main-secondary);
  border-radius: 10rem;
  cursor: pointer;
  transition: outline 300ms;
}
.profile__type > * {
  pointer-events: none;
}
.profile__selected {
  outline: solid var(--clr-main-green);
}
.profile__icon {
  width: 6rem;
  height: 6rem;
}
.profile__languages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 12rem;
  width: 100%;
  gap: 1rem;
}
.profile__language {
  cursor: pointer;
  width: 6rem;
  background-color: var(--clr-main-text);
  border-radius: 0.5rem;
  transition: outline 300ms;
}
.profile__language > * {
  pointer-events: none;
}
.profile input[type=button] {
  background-color: var(--clr-main-secondary);
}/*# sourceMappingURL=main.css.map */