@use "../abstracts/" as *;

.message {
    @include flex(flex-start, center, row);
    gap: 1rem;
    width: 100%;
    background-color: var(--clr-main-secondary);
    padding: 0.25rem;
    cursor: pointer;

    &__infos {
        @include flex(flex-start,flex-start,column);
        gap: .5rem;
    }
    
    &__author {
        &::before{
            content: '> ';
        }
    }

    &__img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        object-position: top;
        border-radius: 3rem;
    }

    & > * {
        pointer-events: none;
    }
}
