@use "../abstracts/" as *;

.profile {
    @include flex(flex-start, center, column);
    padding-bottom: 2rem;
    gap: 4rem;
    &__section {
        @include flex(center, center, column);
        gap: 1rem;
    }
    &__selfies {
        width: 100%;
        @include flex(center, center, row);
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    &__selfie {
        position: relative;
        width: 9rem;
        height: 9rem;
        border-radius: 1rem;
        background-color: var(--clr-main-secondary);

        &-icon {
            position: absolute;
            inset: 0;
            width: 9rem;
            height: 9rem;
        }
    }
    &__types {
    }
    &__languages {
        @include flex(center, center, row);
        flex-wrap: wrap;
        gap: 1rem;
    }
    &__language {
        cursor: pointer;
        width: 4rem;
    }
    & input[type="button"] {
        background-color: var(--clr-main-secondary);
    }
}
