@use "../abstracts/" as *;

.profile {
    @include flex(flex-start, center, column);
    padding-bottom: 2rem;
    &__form {
        width: 80%;
        @include flex(flex-start, center, column);
        gap: 3rem;
    }
    &__section {
        @include flex(center, center, column);
        gap: 1rem;
    }
    &__selfies {
        width: 100%;
        @include flex(center, center, row);
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    &__selfie {
        position: relative;
        width: 9rem;
        height: 9rem;
        border-radius: 1rem;
        background-color: var(--clr-main-secondary);
    }

    &__credits {
        text-align: center;
    }

    &__link {
        color: var(--clr-main-green);
        &:visited {
            color: var(--clr-main-green);
        }
    }

    &__obj {
        position: absolute;
        object-fit: cover;
        inset: 0;
        width: 9rem;
        height: 9rem;
        border-radius: 1rem;
        &[data="data:"],
        &[data=""] {
            background: url("../assets/upload.svg");
            background-size: cover;
            background-position: center;
        }
    }

    &__types {
        @include flex(center, center, row);
        gap: 1rem;
    }

    &__type {
        width: 6rem;
        height: 6rem;
        background-color: var(--clr-main-secondary);
        border-radius: 10rem;
        cursor: pointer;
        transition: outline 300ms;
        & > * {
            pointer-events: none;
        }
    }

    &__selected {
        outline: solid var(--clr-main-green);
    }

    &__icon {
        width: 6rem;
        height: 6rem;
    }

    &__languages {
        @include flex(center, center, row);
        flex-wrap: wrap;
        height: 12rem;
        width: 100%;
        gap: 1rem;
    }

    &__language {
        cursor: pointer;
        width: 6rem;
        background-color: var(--clr-main-text);
        border-radius: 0.5rem;
        transition: outline 300ms;
        & > * {
            pointer-events: none;
        }
    }

    & input[type="button"] {
        background-color: var(--clr-main-secondary);
    }
}
